## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a=3  #Entero
print(a)

3

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
b=8.5
print(type(b))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(a)

3

4) Crear una variable que contenga tu nombre

In [4]:
nombre = "Edinson Quintero"

5) Crear una variable que contenga un número complejo

In [7]:
numcom = 3 + 5j  #Los Numeros Complejos se forman con un numero mas un numero y una letra.

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
print(type(numcom))

<class 'complex'>

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [9]:
valpi = 3.1416
print(valpi)
type(valpi)

3.1416

float

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [13]:
var1= 'True'  #Esta es una Variable de tipo Strim
var2 =True   # Esta es una variable tipo booleana.

<class 'str'>
<class 'bool'>

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [14]:
print(type(var1))
print(type(var2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [15]:
sum1 = 4 + 4.5

11) Realizar una operación de suma de números complejos

In [17]:
sumcom = (3+5j) + (2+3j)  # En la suma de Numeros Complejos se suma de forma
#independiente la parte numerica con numerica y complejo con Complejo
# A continuacion se muestra:

print(sumcom)

(5+8j)

12) Realizar una operación de suma de un número real y otro complejo

In [18]:
c = 4
d = 3 + 5j
sumcom2 = c + d 
print(sumcom2)

(7+5j)

13) Realizar una operación de multiplicación

In [19]:
e = 445
f = 3456
g= e*f
print(g)

1537920

14) Mostrar el resultado de elevar 2 a la octava potencia

In [20]:
h = 2**8
print(h)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
i = 27/4
print(i)

6.75

16) De la división anterior solamente mostrar la parte entera

In [23]:
i = 27//4  # Con el simbolo doble de Barras se muestra solo la parte entera de la división
print(i)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [24]:
i2 = 27 % 4  # Con el Simbolo porcentaje se muestra el resto de toda División
print(i2)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [25]:
# se debe desarrollar una operacion que permita retomar el numero 27
# considerando: Resto; i2=3   y  la parte entera; i=6 considerando Operandos; o=4
o=4
res=i*o+i2
print(res)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [ ]:
res=i*o+i2
print(res)

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [28]:
n="2"  #Esto es un Strim
m=2  # Esto es un numero entero
print(type(n))
print(type(m))
2=="2" # Por eso al evaluarlo es False el resultado

<class 'str'>
<class 'int'>

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
n=int(n) #Aqui se cambia el valor de Strim a entero
n==m  # Ahora si al Evaluarlo, vemos que son True

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [30]:
# El error se debe a que Python espera que los números flotantes usen un punto (.) 
# como separador decimal, y no una coma (,)1. Por lo tanto, al intentar convertir la cadena ‘3,8’
# a un flotante, Python no reconoce el formato y lanza un ValueError.
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [36]:
x = 3
x -= 1  # Esto reduce un valor  al asignado a x
print(x)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [34]:
1<<2
# es porque el operador << realiza un desplazamiento a la izquierda bit a bit1. Esto significa que mueve los bits
# del operando de la izquierda tantas posiciones como indique el operando de la derecha, rellenando con ceros los bits vacíos2.

# En este caso, el operando de la izquierda es 1, que en binario se escribe como 00000001. El operando de la derecha es 2,
# que indica que hay que desplazar los bits dos posiciones a la izquierda. El resultado es 00000100, que en decimal es 4. 
# El siguiente diagrama ilustra el proceso:
# # 1 << 2
00000001 << 2
00000100 # Resultado en binario
4 # Resultado en decimal ##

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [33]:
# No esta permitido por que uno es un numero y el otro es Un Entero
2+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [32]:
x= 4 + int("6")  # Solo debemos cambiar el valor del Strim pasarlos a un numero entero, siempre que sea numero lo que esta dentro del Strim
print(x)

10